<div class="d-flex justify-content-between">
  <h2 class="display-4 p-4">Items </h2>
  <div class="p-4">
    <%= link_to "Add Item",new_item_path,class: 'btn btn-primary p-4'%>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title"><%= item.name %></h5>
            <h5 class="display-6 m-2">₹<%= item.price%> </h5>
            <p class="card-text m-2"><%= item.qty %></p>
            <%= link_to "Edit", edit_item_path(item), class: 'btn btn-primary'%>
            <%= link_to "Delete", item_path(item),method: :delete, data:{confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
